// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  display: none;
  opacity: 0;
  transform: translateY(-30px);
  transition: all .3 ease-in-out;
}
.show-text-anim {
  display: block;
  opacity: 1;
  transition: all .3 ease-in-out;
  transform: translateY(0px);

}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


/**
 * HELPERS FOR
 * STORIES PAGE
 * HOVER EFFECTS
 */
 
 .item-hidden{
  display: none;
}


.btn-black-hero-disappear{
    transition: all .4s ease-in-out;
    opacity: 0;
}

.hidden-hover-stories{
  .page-stories-container__text-wrap{
    h2{
        opacity: 0;
        transform: translateY(-10px);

      }
      p{
        opacity: 0;
        transform: translateY(-12px);

      }
      button{
        opacity: 0;
        transform: translateY(-14px);
      }
  }
}
.hover-stories{
  .page-stories-container__text-wrap{
    h2{
        opacity: 1;
        transform: translateY(0px);

      }
      p{
        opacity: 1;
        transform: translateY(0px);

      }
      button{
        opacity: 1;
        transform: translateY(0px);

      }
  }
}

// grid sistem for stories hover effects helpers
.item-container-first{
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  animation: anim-slow-in .3s ease-in-out;
  transition: all .2s ease-in-out;

}
.item-container-second{
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  transition: all .2s ease-in-out;


  .item-single{
    transition: all .2s ease-in-out;   

  }
}

.random{
  opacity: 0;
  animation: anim-slow-in .2s ease-in-out;
  transition: all .2s ease-in-out;   


}
.random2{
  opacity: 0;
  animation: anim-slow-in .25s ease-in-out .1s;
  transition: all .2s ease-in-out;   


}

@keyframes anim-slow-in {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/**
 * END OF HELPERS HOVER EFFECTS ON stories 
 */


//social bar
.social-bar{
  &__single-social{
      border-radius: 27px;
      border-width: 3px;
      border-style: solid;
      border-color: $bright-violet;
      color: $bright-violet; 
      padding:  7px 15px;
      display: inline-block;
  }
}