// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.container-page-home{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    @include respond(tab-port){
        flex-direction: column;
    }
    &__img-container{
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        overflow: hidden;
        left: 0;
        z-index: -1;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    .wrapper-text-select-page-home{
        background-color: white;
        list-style: none;
        padding: 0 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        @include respond(tab-port){
            margin-bottom: 1.25rem;
        }
        @include respond(xs){
            background-color: inherit;
            padding: inherit;
        }
        h3{
            @include respond(xs){
                color: white;
            }
            span{
                &:nth-child(1){
                    @include respond(xs){
                        margin-bottom: 1.13rem;
                    }
                }
                &:nth-child(3){
                    @include respond(xs){
                        margin-top: 0.56rem;
                    }
                }
            }
        }
        select{
            color: $bright-violet;
            border: none;
            position: relative;
            border-radius: 4.5px;
            @include respond(tab-port){
                width: 11.7rem;
            }
            @include respond(xs){
                padding: 0rem 2.75rem;
                width: 15.88rem;
                height: 2.5rem;
            }
        }
    }
    .spotlight-btn-and-post{
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        @include respond(tab-port){
            width: 100vw;
        }
        /* a{
            .blk-btn{}
        } */
        .spotlight-wrap{
            display: flex;
            @include respond(tab-port){
                flex-direction: column;

            }
        }
        .blk-btn{
            @include respond(tab-port){
                height: 5.56rem;
            }
            @include respond(xs){
                height: 7.25rem;
            }
        }
        &__txt-and-img{
            background-color: $bright-violet;
            display: flex;
            align-items: center;
            color: $white;
            padding: 0 1.063rem 0 0.256rem;
            width: 32.563rem;
            height: 4.125rem;
            @include respond(tab-port){
                height: 5.56rem;
            }
            @include respond(xs){
                height: 7.25rem;
            }
            
            &--img{
                width: 150px;
                height: 50px;
                overflow: hidden;
                img{
                    width: fit-content;
                }
            }
            &--txt{
                margin-left: 1.438rem;
                p{
                    font-size: $p-CG-size;
                }
                @include respond(tab-port){
                    display: flex;
                    flex-direction: column;
                }
            }
            button{
                align-self: flex-end;
                white-space: nowrap;
                margin-left: 2.125rem;
                padding-bottom: 0.688rem;
                @include respond(tab-port){
                    align-self: flex-start;
                    margin-left: 1.438rem;

                }
                
            }
        }
    }
}
