//searchform

.searchform{
    @include respond(tab-port){
        display: none;
    }
    .active-input{
        display: block;
        opacity: 1;
        position: relative;
        transition: all .3s ease-in-out;
        border-bottom: 2px solid white;
        width: 17.9rem;
        margin-right: 2.8rem;

    }
    .hidden-input{
        opacity: 0;
        transition: all .3s ease-in-out;
        position: relative;
        border-bottom: 0px solid white;
        display: inline;
        width: 0;
    }
    .custom-form{
        display: flex;
        transition: all .2s ease-in-out;

        input{
            background-color: transparent;
            position: relative;
            transition: all .3s ease-in-out;
            border-top: none;
            border-left: none;
            border-right: none;
            
            &:focus{
                outline: none;
                color: white;
                &::placeholder {
                    color: transparent;
                  }
            }
            &:focus-visible{
                color: white;
            }
            &::placeholder{
                transition: all .3s ease-in-out;
                font-size: $nav-menu-CG-size;
                box-shadow: none;
                color: white;
                text-align: right;
            }

        }
        button{
            transform: translateY(2.075px);
            cursor: pointer;
            border: none;
            background: none;
        }
    }
}

.header-black{
    .searchform{
        .active-input{
            border-bottom: 1px solid black;
           
        }
        .hidden-input{
            border-bottom: 0px solid black;
        }
        .custom-form{
            input{
                &:focus{
                    color: black;
                }
                &:focus-visible{
                    color: black;
                }
                &::placeholder{
                    color: black;
                }
            }
        }
    }
}

.custom-form-distance{
    width: 28.6rem;
    transition: all .2s ease-in-out;
}

// helper classes toggled for seachform on click
.active{
    opacity: 1;
}

.hidden{
    opacity: 0;
    width: 0;
    display: none;
}

