.term-discover-all{
    &__single-tax{
        border-radius: 27px;
        border-width: 3px;
        border-style: solid;
        color: black;
        padding:  7px 15px;
        display: inline-block;
    }
}