// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer{
    background-color: $footer-background-color;
    .main-footer{
        display: flex;
        justify-content: space-between;
        max-width: 120rem;
        margin: 0 auto;
        @include respond(xs){
            flex-direction: column;
        }
        .footer-left{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &__logo{
                display: flex;
                flex-direction: column;
                svg{
                    g{
                        path{
                            fill: black;
                        }
                    }
                }
            }
            &__copyright-claim{
                &--logos{
                    display: flex;
                }
                &--text{
                    color: $footer-copy-color;
                }
            
            }
        }
        .footer-right{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            @include respond(big-desktop){
                gap: 18.92rem;
               }
            @include respond(mid-desktop){
                gap: 14.19rem;
               }
               @include respond(tab-port){
                gap: 4.56rem;
               }
               @include respond(xs){
                gap: inherit;
               }
            &__menu{
                .nav-menu{
                    ul{
                        display: flex;
                        flex-direction: column;
                        list-style-type: none;
                        li{
                            @include a-animation-black;
                        }
                    }
                }
            }
            &__social-bar{
                ul{
                    display: flex;
                    flex-direction: column;
                    list-style-type: none;
                    li{
                        @include a-animation-black;
                    }
                    @include respond(xs){
                        color: $footer-social-color;
                    }
                }
            }
        }
    }
    .footer-left__copyright-appear-sm{
        color: $footer-copy-color;
    }
}