    .header-violet{
        .main-navigation{
            color: white;
            &__container{
                &--logo-link{
                    svg{
                        g{
                            path{
                                fill: white;
                            }
                        }
                    }
                }
                &--menu-items{
                    .nav-menu{
                        ul{
                            li{
                                @include a-animation-white;
                            }
                        }
                    }
                }
            }
        }
        .searchform{
            .custom-form{
                button{
                    svg{
                        circle,line{
                            stroke: white;
                        }
                    }
                }
            }
        }
    }


