    .header-transparent{
        .main-navigation{
            color: black;
            &__container{
                &--logo-link{
                    svg{
                        g{
                            path{
                                fill: black;
                            }
                        }
                    }
                }
                &--menu-items{
                    .menu-toggle{
                        color: black;
                        &.active{
                            color: black
                        }
                    }
                    .nav-menu{
                        ul{
                            li{
                                @include a-animation-black;
                            }
                        }
                    }
                }
            }
        }
        .searchform{
            .custom-form{
                button{
                    svg{
                        circle,line{
                            stroke: black;
                        }
                    }
                }
            }
        }
    }
