// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

 .header-wrapper-background{
    width: 100vw;
    position: fixed;  
    z-index: 9999;
    .main-navigation{
        margin: 0 auto;
        
        &__container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            &--menu-items{
                display: flex;
               
                .nav-menu{
                    ul{
                        display: flex;
                        @include respond(tab-port){
                            display: none;
                        }
                        li{
                            list-style-type: none;
                            
                            &:first-child{
                                margin-right: $short-ds-menu;
                            }
                            &:nth-child(2){
                                margin-right: $short-ds-menu;
                            }
                            &:nth-child(3){
                                margin-right: $shorter-ds-menu;
                            }
                            &:nth-child(4){
                                margin-right: $big-ds-menu;
                            }
                            &:nth-child(5){
                                margin-right: $medium-ds-menu;
                            }
                            &:nth-child(6){
                                margin-right: $medium-ds-menu;
                            }
                            &:nth-child(7){
                                margin-right: $medium-ds-menu;
                            }
                            &:last-child{
                                margin-right: $short-ds-menu;
                            }
                            
                        }
                    }
                }
            }
        }
    } 
 }