    .header-white{
        background: linear-gradient(
            rgba(109, 0, 255, 0.6),
        rgba(109, 0, 255, 0.24),
        rgba(109, 0, 255, 0));
        //background: linear-gradient(to left, #333, #333 50%, #eee 75%, #333 75%);
        height: 9.375rem;
        .main-navigation{
            color: white;
            &__container{
                &--logo-link{
                    svg{
                        g{
                            path{
                                fill: white;
                            }
                        }
                    }
                }
                &--menu-items{
                    .nav-menu{
                        ul{
                            li{
                                @include a-animation-white;
                            }
                        }
                    }
                }
            }
        }
        .searchform{
            .custom-form{
                button{
                    svg{
                        circle,line{
                            stroke: white;
                        }
                    }
                }
            }
        }
    }

    
