.wp-block-lazyblock-herosection{
    height: 25.938rem;
    background: linear-gradient($page-bg, $opac0);
    padding: 8.344rem $pad-lateral 0 $pad-lateral;
    .read-more-btn-black{
        margin-top: 2.125rem;
    }
}