

/// Main black 
/// @type Color
$black-main-color: #000000 !default;

/// Main white 
/// @type Color
$white: #ffffff !default;

/// Main opac 0 
/// @type Color
$opac0: rgba(255, 255, 255, 0) !default;

/// Main page linear color background
/// @type Color
$page-bg: #cbc0f0 !default;



/// BRAND VIOLET PALETTE
/// @type Color
$bright-violet: #6D00FF !default;

/// @type Color
$mid-bright-violet: #6d00ffbf !default;

/// @type Color
$light-violet: #6d00ff80 !default;

/// @type Color
$extra-light-violet: #6d00ff26 !default;

$lighty-violet: #9B64D4 !default;



/// BRAND VIOLET PALETTE DARK #1

/// @type Color
$first-dark-violet: #1E174A !default;

/// @type Color
$second-dark-violet: #06002ab3 !default;



/// BRAND VIOLET PALETTE DARK #2

/// @type Color
$fourth-dark-violet: #2D2561 !default;

/// @type Color
$fifth-dark-violet: #2d2561bf !default;

/// date violet
$date-spotlight-violet: #9457D0 !default;
/// single spotlight violet subtitle
$subtitle-spotlight-violet: #6D00FF !default;



//footer social bar color

$footer-social-color: #a1a1a1;



//nav ham menu open color

$nav-ham-menu-color-active: #6D00FF;

// footer colors
$footer-background-color: #ECEDFF !default;
$footer-copy-color: #00000040;
$footer-social-color-sm: #00000040;


