// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


//standard padding left and right
$pad-lateral: 2.063rem;

/// nav menu item margins
//

$shorter-ds-menu: 1.5rem; // 27
$short-ds-menu: 1.7rem;//31
$medium-ds-menu: 2rem;//32
$big-ds-menu: 2.06rem;//33