// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


// For CABINET GROTESK

$HUGE-CG-size: 5rem;         // 80px
$H1-CG-size: 3.875rem;       // 62px
$H2-CG-size: 3rem;           // 48px
$H2lil-CG-size: 2.375rem;    // 38px
$H3-CG-size: 2rem;           // 32px
$H4-CG-size: 1.625rem;       // 26px
$H5-CG-size: 1.5rem;         // 24px
$H6-CG-size: 1.25rem;        // 20px
$p-CG-size: 1.125rem;        // 18px
$nav-menu-CG-size: 0.875rem; // 14px



// For READACTION 50

$HUGE-R50-size: 5rem;         // 80px
$H1-R50-size: 3.875rem;       // 62px
$H2-R50-size: 2.375rem;       // 38px
$H3-R50-size: 2rem;           // 32px
$H4-R50-size: 1.625rem;       // 26px
$H5-R50-size: 1.5rem;         // 24px
$H6-R50-size: 1.25rem;        // 20px
$p-R50-size: 1.125rem;        // 18px
$nav-menu-R50-size: 0.875rem; // 14px

// For READACTION 50 italic

$H3-R50ita-size: 0.984;       // 15.75px


/// HEADER TYPO CENTRAL SELECT
/// //// ///// /// //// //// //// //// ////
// fs = font size
// lh = line height
// wh = weight

$visible-big-fs: 2rem;
$visible-big-lh: 2rem;
$visible-big-wh: 500;

$visible-tab-fs: 1.75rem;
$visible-tab-lh: 2rem;
$visible-tab-wh: 400;

$visible-sm-fs: 1.63rem;
$visible-sm-lh: 2rem;
$visible-sm-wh: 700;

// // // //

$climate-big-fs: 2rem;
$climate-big-lh: 2rem;
$climate-big-wh: 400;

$climate-tab-fs: 1.63rem;
$climate-tab-lh: 1.75rem;
$climate-tab-wh: 400;

$climate-sm-fs: 1.75rem;
$climate-sm-lh: 1.75rem;
$climate-sm-wh: 400;


//nav typo

$nav-big-fs: 0.88rem;
$nav-big-lh: 1.13rem;
$nav-big-wh: 500;

$nav-tab-fs: 2.38rem;
$nav-tab-lh: 2.63rem;
$nav-tab-wh: 500;

$nav-sm-fs: 1.63rem;
$nav-sm-lh: 2.13rem;
$nav-sm-wh: 400;



///footer typo variables subtitle logo

$seen-fs: 1.11rem;
$seen-lh: 1.24rem;
$seen-fw: 400;

/// footer typo texts

$footer-text-bg-tab-fs: 0.88rem;
$footer-text-bg-tab-lh: 1.13rem;
$footer-text-bg-tab-wh: 500;

$footer-text-sm-fs: 1.50rem;
$footer-text-sm-lh: 2.88rem;
$footer-text-sm-wh: 400;


//copyright claim typo

$footer-copy-sm-fs: 0.8rem;
$footer-copy-sm-lh: 1.13rem;
$footer-copy-sm-wh: 500;

//copyright basic typo

$footer-basic-sm-fs: 0.8rem;
$footer-basic-sm-lh: 1.13rem;
$footer-basic-sm-wh: 500;
